@media(max-width:400px) {
    body {
        background-color: yellow;
    }
    #cursosnuevos >a >article >div > section >strong >p{
        display: none;
    }
    #infoadicionalproximoscursos article h4{
        text-align: center;
        font-size: 10px;
    }
    #infoadicionalproximoscursos article p{
        text-align: center;
        font-size: 10px;
    }
}